In [1]:
print("hello")

hello

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv("sales_train.csv")
data.head()
train,test = train_test_split(data, test_size = 0.2)

In [4]:
features_head = ["date_block_num", "shop_id", "item_id", "item_price"] 
classification_head = ["item_cnt_day"]
X = train.loc[:, features_head]
Y = train.item_cnt_day
print(data.shape)
print(X.shape)
print(Y.shape)

(2935849, 6)
(2348679, 4)
(2348679,)

In [5]:
log_reg = LogisticRegression()
log_reg.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
test.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
1646825,31.05.2014,16,28,16287,199.0,2.0
2296129,12.12.2014,23,25,21274,449.0,1.0
558954,01.06.2013,5,35,15044,699.0,1.0
1467050,26.03.2014,14,46,9962,149.0,1.0
503712,09.05.2013,4,56,11484,99.0,1.0

In [10]:
X_new = test.loc[:, features_head]
Y_new = test.item_cnt_day
Y_pred = log_reg.predict(X_new)

In [11]:
print(accuracy_score(Y_new, Y_pred))

0.8962123405487338